
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-top-links {
  .dropdown-user{
    height: auto;
  }
}
body
{
  &#admin-page{
    .btn {
      font-size: 11px;
      border-radius: 20px;
      padding: 4px 10px;
    }
  }  
} 
.media-heading{
  width: 100%;
  .comment-reply{
    float: right;
    font-size: 13px;
  }
  &:hover{
    cursor: pointer;
  }
}
.reply-form {
  margin-top: 20px;
  .hidden{
    display: none;
  }
}