@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-top-links .dropdown-user {
  height: auto;
}

body#admin-page .btn {
  font-size: 11px;
  border-radius: 20px;
  padding: 4px 10px;
}

.media-heading {
  width: 100%;
}

.media-heading .comment-reply {
  float: right;
  font-size: 13px;
}

.media-heading:hover {
  cursor: pointer;
}

.reply-form {
  margin-top: 20px;
}

.reply-form .hidden {
  display: none;
}

